.superpowers/
.DS_Store
**/.DS_Store
DerivedData/
build/
Build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.ipa
*.xcarchive
*.dSYM
*.mobileprovision
*.p12
*.cer
.env
.env.*
